@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  background: whitesmoke;
}
button{
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: whitesmoke;
}
button:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.container{
  max-width: 1170px;
  margin: auto;
}

/* navigation-option */
.content-page{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.options-container{
  flex: 2;
  margin-right: 30px;
}
.content-block{
  flex: 6;
}
.options-block{
  margin-bottom: 10px;
}
.options-block h3{
  margin-bottom: 5px;
  color: #0984e3;
}
.options-block p{
  font-weight: bold;
  color: #192a56;
  position: relative;
  font-size: 18px;
  cursor: pointer;
  width: 200px;
  padding: 10px 15px;
  border-radius: 10px;
}
.options-block p:hover{
  background-color: #f9ca24;
}
.options-block p:hover .bell-notice{
  color: #192a56;
}
.options-block p i{
  margin-right: 15px;
}
p.options-content{
  margin: 5px 0px;
  margin-left: 10px;
}
p.options-content.active{
  background-color: #f9ca24;
}
.bell-notice{
  color: #192a56;
  margin-right: 10px;
}
.bell-notice.active{
  color: #f9ca24;
  margin-right: 10px;
}
/* edit icon card */
.ic-card-rear{
  position: absolute;
  left: 21px!important;
}
/*  */
.custom-main-flashcard{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.custom-main-flashcard button{
  border: none;
  padding: 10px 20px;
  margin-right: 20px;
  background-color: #f9ca24;
  transition: 0.3s;
}
.custom-main-flashcard button:hover{
  background-color: #fff;
}
.custom-main-flashcard button i{
  color: #192a56;
  font-size: 16px;
  margin-right: 5px;
}
.custom-main-flashcard button span{
  color: #192a56;
  font-size: 16px;
  font-weight: bold;
}
/* main flashcards */
.main-flashcard-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.main-flashcard{
  height: 380px;
  background-color: #fff;
  width: 70%;
  box-shadow: 0 0.3125rem 1.25rem 0 rgb(0 0 0 / 16%);
  border-radius: 20px;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: 0.3s;
  transform: perspective(1000px) rotateY(var(--rotateCard,0)) translateY(var(--translateCard,0));
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.main-flashcard:hover{
  --translateCard: -5px;
}
.main-flashcard.flip-card{
  --rotateCard: 180deg;
  --rotateFrontCard: 180deg;
  --hideBackCard: block;
}
.main-flashcard .front-flashcard{
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(var(--rotateFrontCard,0));
  padding: 30px;
  text-align: center;
  width: 100%;
}
.main-flashcard .back-flashcard{
  position: absolute;
  width: 100%;
  backface-visibility: var(--hideBackCard,hidden);
  transform: rotateY(180deg);
  padding: 30px;
  width: 100%;
  text-align: center;
}
/* Slide card */
.main-flashcard.slide-card{
  --slideCardLeft: -10px;
  --slideCardRight: -10px;
}
.main-flashcard>.front-flashcard>h1{
  font-size: 40px;
}
.main-flashcard>.back-flashcard>h2{
  font-size: 30px;
}
.control-main-flashcard{
  display: flex;
  justify-content: center;
  width: 100%;
}
.control-main-flashcard>div{
  display: flex;
  justify-content: center;
  width: 70%;
  color: #192a56;
  position: relative;
}
.control-main-flashcard i{
  margin: 0px 70px;
  cursor: pointer;
}
.control-main-flashcard i.flex-end{
  margin: 0px 50px;
  position: absolute;
  right: 0px;
}
/* Info author */
.name-author-container{
  width: 100%;
  display: flex;
}
.name-author-container .name-author-img{
  flex: 1;
  border-radius: 35px;
}
.name-author-container .name-author-img img{
  width: 60px;
  height: 60px;
  border-radius: 35px;
  cursor: pointer;
}
.name-author-container .name-author{
  flex: 10;
  margin-right: 15px;       
}
.name-author-container .name-author a{
  text-decoration: none;
  color:rgba(0, 0, 0, 0.9);
}
.name-author-container .name-author a:hover{
  text-decoration: underline;
}
.name-author-container .name-author-icon{
  flex: 3;
  display: flex;
  justify-content: flex-end;
}
.name-author-container .name-author-icon i{
  margin-right: 30px;
  color: #192a56;
  cursor: pointer;
}
.name-author-container .name-author-icon i>p{
  display: none;
  font-size: 10px!important;
  color: #fff;
  padding: 10px;
  background-color: #0984e3;
  position: absolute;
}
.name-author-container .name-author-icon i:hover>p{
  display: block;
}
/* Multiple choice */
.multiple-choice-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.multiple-choice{
  min-height: 500px;
  background-color: #fff;
  width: 95%;
  box-shadow: 0 0.2rem 0.5rem 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: 0.3s;
  transform: perspective(1000px) rotateY(var(--rotateCard,0)) translateY(var(--translateCard,0));
  position: relative;
  cursor: pointer;
  padding: 30px;
}
.multiple-choice .block-question{
  width: 100%;
  margin-bottom: 40px;
}
.multiple-choice .block-question h4{
  margin-bottom: 15px;
  color: #636e72;
  position: relative;
}
.multiple-choice .block-question h4 span{
  position: absolute;
  right: 0;
}
.multiple-choice .block-question .question{
  width: 100%;
  height: 185px;
  overflow-y: scroll;
  border: solid 1px #bdc3c7;
  border-radius: 5px;
  padding: 5px 10px;
}
.multiple-choice .block-answer{
  width: 100%;
}
.multiple-choice .block-answer .status{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.multiple-choice .block-answer .status h4{
  color: #636e72;
  text-align: center;
  padding: 5px 0px;
}
.multiple-choice .block-answer .status h4.correct{
  color: #27ae60!important;
}
.multiple-choice .block-answer .status h4.incorrect{
  color: #d63031!important;
}
.multiple-choice .block-answer .status button{
  color: #fff;
  background-color: #2980b9;
  padding: 5px 20px;
  font-weight: bold;
}
.multiple-choice .block-answer .status button:hover{
  background-color: #8e44ad;
}
.multiple-choice .block-answer .answer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.multiple-choice .block-answer .answer button{
  width: 330px;
  margin-bottom: 20px;
  display: flex;
  padding: 15px 20px;
}
.multiple-choice .block-answer .answer button.correct{
  background-color: #27ae60;
}
.multiple-choice .block-answer .answer button.incorrect{
  background-color: #d63031;
}
.multiple-choice .block-answer .answer button h3{
  margin-right: 15px;
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
  background-color: #2c3e50;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 1px;
}
.multiple-choice .block-answer .answer button p{
  font-size: 18px;
}
.multiple-choice.result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.multiple-choice.result h1{
  color: #192a56;
  font-size: 40px;
  margin-bottom: 25px;
  font-weight: bolder;
}
.multiple-choice.result h3{
  color: #192a56;
  font-size: 35px;
  margin-bottom: 25px;
  font-weight: bolder;
}
.multiple-choice.result p{
  font-size: 20px;
  font-weight: bolder;
}
.multiple-choice.result p.very_bad{color: #d63031;}
.multiple-choice.result p.bad{color: #8e44ad;}
.multiple-choice.result p.not_bad{color: #2c3e50;}
.multiple-choice.result p.good{color: #27ae60;}
.multiple-choice.result p.very_good{color: #2980b9;}
.multiple-choice.result button{
  background-color: #0984e3;
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.multiple-choice.result button:hover{
  background-color: #8e44ad;
}
.multiple-choice.hide{  /* hide block multiple-choice */
  display: none;
}

/* Writing */
.writing-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.writing{
  min-height: 500px;
  background-color: #fff;
  width: 95%;
  box-shadow: 0 0.2rem 0.5rem 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: 0.3s;
  transform: perspective(1000px) rotateY(var(--rotateCard,0)) translateY(var(--translateCard,0));
  position: relative;
  cursor: pointer;
  padding: 30px;
}
.writing .block-question{
  width: 100%;
  margin-bottom: 40px;
}
.writing .block-question h4{
  margin-bottom: 15px;
  color: #636e72;
  position: relative;
}
.writing .block-question h4 span{
  position: absolute;
  right: 0;
}
.writing .block-question .question{
  width: 100%;
  height: 185px;
  overflow-y: scroll;
  border: solid 1px #bdc3c7;
  border-radius: 5px;
  padding: 5px 10px;
}
.writing .block-answer{
  width: 100%;
}
.writing .block-answer .status{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.writing .block-answer .status h4{
  color: #636e72;
  text-align: center;
  padding: 5px 0px;
}
.writing .block-answer .status h4.correct{
  color: #27ae60!important;
}
.writing .block-answer .status h4.incorrect{
  color: #d63031!important;
}
.writing .block-answer .status button{
  color: #fff;
  background-color: #2980b9;
  padding: 5px 20px;
  font-weight: bold;
}
.writing .block-answer .status button:hover{
  background-color: #8e44ad;
}
.writing .block-answer .answer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.writing .block-answer .answer input{
  flex: 4;
  border: none;
  border-bottom: solid 3px #636e72;
  font-size: 18px;
  height: 40px;
  margin-right: 40px;
}
.writing .block-answer .answer input:focus{ /*hide boder when focus input*/
  outline: none;
  border-bottom: solid 4px #2980b9;
}
.writing .block-answer .answer button{
  flex: 1;
  margin-bottom: 20px;
  display: flex;
  padding: 10px 20px;
}
.writing .block-answer .answer button p{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
/* Exam */
.exam-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.exam-top{
  width: 100%;
  min-height: 50px;
  margin-bottom: 30px;
  border-bottom: solid 2px #bdc3c7;
}
.exam-top .top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.exam-top .top span{
  padding: 5px 0px;
}
.exam-top .top button{
  font-weight: bold;
  margin-left: 20px;
}
.exam-top .top button.btn-stop{
  color: #fff;
  background-color: #d63031;
}
.exam-top ul.list-index{
  display: flex;
  margin-bottom: 15px;
}
.exam-top ul.list-index li{
  list-style: none;
  padding: 5px 10px;
  text-align: center;
  background-color: #bdc3c7;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.exam-top ul.list-index li.focus{
  background-color: #0984e3;
  color: #fff;
}
.exam-top ul.list-index li span.flag::after{
  content: '';
  width: 10px;
  height: 10px;
  background-color: #d63031;
  position: absolute;
  top: 0px;
  z-index: 1;
}
.exam-top ul.list-index li span.flag::before{
  content: '';
  width: 2px;
  height: 15px;
  background-color: #1a1a1a;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
}
.exam-top ul.list-index li.not-done{
  background-color: #eb4d4b;
  color: #fff;
}
.exam{
  min-height: 500px;
  background-color: #fff;
  width: 95%;
  box-shadow: 0 0.2rem 0.5rem 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: 0.3s;
  transform: perspective(1000px) rotateY(var(--rotateCard,0)) translateY(var(--translateCard,0));
  position: relative;
  padding: 30px;
}
.exam .block-question{
  width: 100%;
  margin-bottom: 40px;
}
.exam .block-question h4{
  margin-bottom: 15px;
  color: #636e72;
  position: relative;
}
.exam .block-question h4 span{
  position: absolute;
  right: 0;
}
.exam .block-question .question{
  width: 100%;
  height: 185px;
  overflow-y: scroll;
  border: solid 1px #bdc3c7;
  border-radius: 5px;
  padding: 5px 10px;
}
.exam .block-answer{
  width: 100%;
}
.exam .block-answer .status{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.exam .block-answer .status h4{
  color: #636e72;
  text-align: center;
  padding: 5px 0px;
}
.exam .block-answer .status h4.correct{
  color: #27ae60!important;
}
.exam .block-answer .status h4.incorrect{
  color: #d63031!important;
}
.exam .block-answer .status button{
  color: #fff;
  background-color: #2980b9;
  padding: 5px 20px;
  font-weight: bold;
}
.exam .block-answer .status button:hover{
  background-color: #8e44ad;
}
.exam .block-answer .answer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.exam .block-answer .answer button{
  width: 330px;
  margin-bottom: 20px;
  display: flex;
  padding: 15px 20px;
}
.exam .block-answer .answer button h3{
  margin-right: 15px;
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
  background-color: #2c3e50;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 1px;
}
.exam .block-answer .answer button p{
  font-size: 18px;
}

/* Custom cards */
.minicard-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0px 20px;
}
.minicard{
  width: 370px;
  height: 200px;
  word-wrap: break-word;
  margin: 10px; 
  background:#fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
  position: relative;
}
.minicard{
  width: 250px;
  height: 200px;
  background-color: #fff;
  box-shadow: 0 0.3125rem 1.25rem 0 rgb(0 0 0 / 16%);
  border-radius: 20px;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: 0.3s;
  transform: perspective(1000px) rotateY(var(--rotateCard,0)) translateY(var(--translateCard,0));
  position: relative;
}
.minicard:hover{
  --translateCard: -5px;
}
.minicard h2{font-size: 1rem;}
.minicard-word{
  border-top: 1px solid #f9ca24; 
  padding: 15px; 
  margin-top:30px;
}
.minicard-meaning{
  text-align:center; 
  display:block; 
  color:red;
}
.minicard i{
  position: absolute;
  color: #1a1a1a;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.minicard i:hover{color: red;}
.minicard i.edit-card{
  top: 4%;
  right: 25%;
}
.minicard i.reorder-card{
  top: 4%;
  right: 15%;
  cursor: move;
}
.minicard i.delete-card{
  top: 4%;
  right: 5%;
}
@media(max-width:1280px){
  .container{width: 100%;}
}

@media(max-width:768px){
  .flashcard{margin: auto;}

  .flashcard{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media(max-width:480px){
  #header{
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  #create_card{width: 95%;}

  .minicard{width: 100%;}  

}
div.minicard.create_card{
  display: flex;
  justify-content: center;
  align-items: center;
}
div.minicard i.create_card{
  color: #636e72;
  font-size: 70px;
}
div.minicard i.create_card:hover{
  color: #2c3e50;
  font-size: 80px;
}
#create_card{
  width: 100%;
  margin:auto;
  padding: 20px;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
  border-radius: 0.5rem;
}
#create_card h2{
  color: black;
  text-align: center;
}
#create_card label{
  color: black;
  font-weight: bold;
}
#create_card textarea{
  width: 100%;
  flex: 4;
  border: none;
  border-bottom: solid 3px #636e72;
  font-size: 18px;
  height: 30px;
  margin-right: 40px;
  resize: none;
  margin-bottom: 15px;
}
#create_card textarea:focus{ /*hide boder when focus input*/
  outline: none;
  border-bottom: solid 4px #2980b9;
}
#create_card div{ display: flex; justify-content: flex-end;}
#create_card div button{ width: fit-content; margin-left: 20px; color: #fff;}
#create_card div button#save_card{ background-color: #0984e3;} #create_card div button#save_card:hover{ background-color: #192a56;}
#create_card div button#close_card_box{ background-color: #d63031;} #create_card div button#close_card_box:hover{ background-color: #eb4d4b;}
